<!DOCTYPE html>
<html lang="en" style="background-color: black">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/assets/logos/voyager/voyager_full_black.svg"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:title" content="INHUMANE" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://voyager54.github.io" />
    <meta
      property="og:image"
      content="/opengraph/media/inhumane_opengraph.png"
    />
    <meta
      property="og:description"
      content="INHUMANE is a brutal, unforgivable horror FPS that takes place in the
      year 2050. "
    />
    <meta property="og:determiner" content="" />
    <meta property="og:locale" content="en_AU" />
    <meta property="og:site_name" content="Voyager54" />

    <title>InHumane - Voyager54</title>
  </head>
  <body>
    <div id="app" style="opacity: 0">
      <header class="mod-header">
        <section class="mod-header--section mod-header--logo">
          <a href="/">
            <img src="/assets/logos/voyager/voyager_logo.svg" />
          </a>
        </section>
        <section class="mod-header--section right">
          <a href="/games">Games</a>
          <a href="/about">About</a>
        </section>
      </header>
      <main class="mod-content">
        <section class="mod-content--hero">
          <section class="mod-content--section mod-content--section-center">
            <picture>
              <source
                srcset="/assets/logos/inhumane/FULL.svg"
                media="(max-width: 600px)"
              />
              <img src="/assets/logos/inhumane/FULL.svg" alt="" />
            </picture>
          </section>
        </section>
        <article class="mod-content--article">
          <section class="mod-content--section mod-content--section-center">
            <p
              class="mod-text mod-text--large-wow mod-text--outlined mod-text--uppercase mod-text--transparent"
            >
              BRUTAL
            </p>
            <p
              class="mod-text mod-text--large-wow mod-text--outlined mod-text--uppercase mod-text--transparent"
            >
              UNFORGIVING
            </p>
            <p class="mod-text mod-text--large-wow">SAVAGELY DIFFICULT</p>
          </section>
          <section class="mod-content--section mod-content--section-center">
            <p class="mod-text">
              INHUMANE is a brutal, unforgivable horror FPS taking place in the
              year 2050. As a Hell Jumper, you've signed up to be sent down to
              the surface of the long since recovering Earth to find the
              facilities built and scattered around different countries by the
              people responsible for the destruction and explore the post
              apocalyptic world in search of the hidden truth behind the
              downfall of humanity.
            </p>
          </section>
        </article>
      </main>
      <footer class="mod-footer">
        <img src="/assets/logos/voyager/voyager_inline.svg" />
        <p class="mod-text">&copy; 2022. Voyager54 Interactive.</p>
        <a href="/status">System Status</a>
      </footer>
    </div>
    <script type="module" src="/main.js"></script>
  </body>
</html>
