<!DOCTYPE html>
<html lang="en" style="background-color: black">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/assets/logos/voyager/voyager_full_black.svg"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:title" content="Voyager54" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://voyager54.github.io" />
    <meta
      property="og:image"
      content="https://voyager54.github.io/opengraph/media/voyager_opengraph.png"
    />
    <meta
      property="og:description"
      content="Voyager54 is a Polish-Australian multidisciplinary game development studio. We focus on story-rich, immersive experiences that captivate and engage our audience."
    />
    <meta property="og:determiner" content="" />
    <meta property="og:locale" content="en_AU" />
    <meta property="og:site_name" content="Voyager54" />

    <meta
      name="google-site-verification"
      content="S7tOoMGbsitEA_xW__NTf5LMW0rTRZKR9JzXjK-h6RM"
    />

    <title>Voyager54</title>
  </head>
  <body>
    <div id="app" style="opacity: 0">
      <main class="mod-overview">
        <section class="mod-overview--section mod-overview--logo">
          <picture>
            <source
              srcset="/assets/logos/voyager/voyager_full.svg"
              media="(max-width: 600px)"
            />
            <img src="/assets/logos/voyager/voyager_logo.svg" alt="" />
          </picture>
        </section>
        <section class="mod-overview--section mod-overview--text">
          <img src="/assets/logos/voyager/voyager_54.svg" alt="Voyager54" />
        </section>
        <section class="mod-overview--section mod-overview--links">
          <a class="mod-overview--link-container" href="/about">
            <h1
              class="mod-text mod-text--outlined mod-text--title mod-overview--link"
            >
              About
            </h1>
            <div class="mod-overview--hover">
              <img
                src="/assets/media/voyager/studio54.svg"
                class="mod-overview--background-image"
                data-pos="left"
              />
            </div>
          </a>
          <a class="mod-overview--link-container" href="/games/inhumane">
            <h1
              class="mod-text mod-text--outlined mod-text--title mod-overview--link"
            >
              InHumane
            </h1>
            <div class="mod-overview--hover">
              <picture>
                <source
                  srcset="/assets/media/inhumane/inhumane.webp"
                  type="image/webp"
                />
                <img
                  src="/assets/media/inhumane/inhumane.png"
                  class="mod-overview--background-image"
                />
              </picture>
            </div>
          </a>
        </section>
      </main>
    </div>
    <script type="module" src="/main.js"></script>
  </body>
</html>
